@page "/courses"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<PageTitle>Courses</PageTitle>

<TokenTestingBlazor.Client.Components.LoginHeader>

    <h3>Courses</h3>

    <p>Coming soon...</p>

</TokenTestingBlazor.Client.Components.LoginHeader>

@code {

}
