@page "/"

<PageTitle>Canvas Assistant</PageTitle>

<h1>Hello, world!</h1>

<div class="alert alert-warning" role="alert">
    Before authentication will function correctly, you must configure your provider details in <code>Program.cs</code>
</div>

Welcome to your new app, CANVAS ASSISTANT.

<p>This change was made on GitHub, date 2024-03-19, time 10:01 AM.</p>

<p>This change was made on GitHub, date 2024-03-20, time 1:12 PM.</p>
